
/* GraphView */
QGraphicsView {
  background-color: white; /* #d3d3d3; */
  border: 1px solid #32414B;
  color: #F0F0F0;
  border-radius: 1px;
}

QGraphicsView:disabled {
  background-color: #19232D;
  border: 1px solid #32414B;
  color: #787878;
  border-radius: 4px;
}
/* Button */

QPushButton {
  background-color: #505F69;
  border: 1px solid #32414B;
  color: #F0F0F0;
  border-radius: 4px;
  padding: 3px;
  outline: none;
}
QPushButton:pressed {
  background-color: #19232D;
  border: 1px solid #19232D;
}

/* hower , blue tint */
QPushButton:hover {
  border: 1px solid #148CD2;
  color: #F0F0F0;
}
/* when i press the button and hold , blue tint */
QPushButton:pressed:hover {
  border: 1px solid #148CD2;
}

/* QCheckBox --------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qcheckbox

--------------------------------------------------------------------------- */
QCheckBox {
  background-color: #505F69;
  border: 1px solid #32414B;
  color: #F0F0F0;
  border-radius: 4px;
  padding: 3px;
  outline: none;
}

QCheckBox:focus {
  border: none;
}

/* QSlider ----------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qslider

--------------------------------------------------------------------------- */
QSlider:disabled {
  background: #19232D;
}

QSlider:focus {
  border: none;
}

QSlider::groove:horizontal {
  background: #32414B;
  border: 1px solid #32414B;
  height: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::sub-page:horizontal {
  background: #1464A0;
  border: 1px solid #32414B;
  height: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::sub-page:horizontal:disabled {
  background: #14506E;
}

QSlider::handle:horizontal {
  background: #787878;
  border: 1px solid #32414B;
  width: 8px;
  height: 8px;
  margin: -8px 0px;
  border-radius: 4px;
}

QSlider::handle:horizontal:hover {
  background: #148CD2;
  border: 1px solid #148CD2;
}

QComboBox {
  background-color: #505F69;
  border: 1px solid #32414B;
  border-radius: 4px;
  /* selection-background-color: #1464A0; */
  color: #F0F0F0;
  padding-left: 4px;
  padding-right: 4px;
  /* Fixes #103, #111 */
  min-height: 1.5em;
  /* padding-top: 2px;     removed to fix #132 */
  /* padding-bottom: 2px;  removed to fix #132 */
  /* min-width: 75px;      removed to fix #109 */
  /* Needed to remove indicator - fix #132 */

}
QComboBox:hover {
  border: 1px solid #148CD2;
}
QComboBox:on {
  selection-background-color: #19232D;
}
QComboBox::indicator {
  background-color: transparent;
  selection-background-color: transparent;
  color: transparent;
  selection-color: transparent;
}
QComboBox::item {
  background: #19232D;
}
QComboBox::item:checked {
  /* fix me */
}

QComboBox::item:selected {
  border: 0px solid transparent;
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 40px;
  border-left-width: 0px;
  border-left-color: #32414B;
  border-left-style: solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
  height: 12px;
  width: 12px;
}

QComboBox::down-arrow:on, QComboBox::down-arrow:hover, QComboBox::down-arrow:focus {
  image: url(":/theme/qss_icons/rc/arrow_down.png");
}

QTabWidget {
  padding: 0px;
  /*
  selection-background-color: #32414B;
  */
  /* Add wanted borders - fix #141, #126, #123 */
}

QTabWidget QWidget {
  border: 0px solid #32414B;
}

QTabWidget QWidget QWidget
QTableView,
QTableWidget,
QTabWidget QTreeView,
QTabWidget QListView,
QTabWidget QGroupBox,
QTabWidget QLineEdit,
QTabWidget QComboBox,
QTabWidget QFontComboBox,
QTabWidget QLCDNumber,
QTabWidget Q1Label,
QTabWidget QTextEdit {
  border: 1px solid #32414B;
}

QTabWidget::pane {
  border: 1px solid #32414B;
  border-radius: 4px;
  margin: 0px;
  /* Fixes double border inside pane wit pyqt5 */
  padding: 0px;
}

QTabWidget::pane:selected {
    /*
  background-color: #32414B;
  */
  border: 1px solid #1464A0;
}

/* QTabBar ----------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtabwidget-and-qtabbar

--------------------------------------------------------------------------- */
QTabBar {
  qproperty-drawBase: 0;
  border-radius: 1px;
  margin: 0px;
  padding: 2px;
  border: 0;
  /* left: 5px; move to the right by 5px - removed for fix */
}

/* QTabBar::tab - selected ------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtabwidget-and-qtabbar

--------------------------------------------------------------------------- */
QTabBar::tab {
  /* !selected and disabled ----------------------------------------- */
  /* selected ------------------------------------------------------- */
}


QTabBar::tab:bottom:selected:disabled {
  border-top: 3px solid #14506E;
  color: #787878;
  background-color: #32414B;
}

QTabBar::tab:bottom:!selected:disabled {
  border-top: 3px solid #19232D;
  /*
  color: #787878;
  background-color: #19232D;
  */
}


QTabBar::tab:bottom:!selected {
  border-top: 2px solid #19232D;
  margin-bottom: 3px;
}

QTabBar::tab:bottom {
    /*
  color: #F0F0F0;
  background-color: #32414B;
  */
  border-top: 3px solid #32414B;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  min-width: 5px;
}

QTabBar::tab:bottom:selected {
    /*
  color: #F0F0F0;
  background-color: #505F69;
  */
  border-top: 3px solid #1464A0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

QTabBar::tab:bottom:!selected:hover {
  border: 1px solid #148CD2;
  border-top: 3px solid #148CD2;
  padding: 0px;
}

QTabBar QToolButton {
  /* Fixes #136 */
  background-color: #32414B;
  height: 12px;
  width: 12px;
}


QSplitter {
  spacing: 0px;
  padding: 0px;
  margin: 0px;
}

QSplitter::handle {
  border: 0px solid #19232D;
  spacing: 0px;
  padding: 2px;
  margin: 0px;
}

QSplitter::handle:vertical {
  height: 1px;
  image: url(":/theme/qss_icons/rc/line_horizontal.png");
}
